<a style="cursor: pointer" {{action 'toggleNav'}} {{bind-attr class=":nav-toggle navExpanded:active"}}>
  <div class="nav-toggle-open-icon">&#9776;</div>
  <div class="nav-toggle-close-icon">&times;</div>
</a>

<div {{bind-attr class=":nav navExpanded:active"}}>
  <div class="center-section">
    {{#link-to 'new_post' class="new-post-button pure-button pure-button-primary"}}new post{{/link-to}}
  </div>
  <div class="nav-pages-list">
    {{#link-to 'posts' class="nav-page"}}Posts{{/link-to}}
  </div>
  <div class="nav-user-section">
    <div class="nav-username">
      Welcome,
      <br>
      <span class="nav-username-name">
        {{partial "username"}}
      </span>!
    </div>
    <a class="pure-button pure-button-error logout-button" href="/logout">logout</a>
  </div>
</div>

<div class="page-content">
  {{outlet}}
</div>
