<div {{bind-attr class=":posts-list controllers.post.viewingPost"}}>
  <div class="posts-list-item-section">
    <div class="posts-list-item-divider">
      <div class="posts-list-item-divider-label">
        Drafts
      </div>
    </div>
    {{#each}}
      {{#unless published}}
        {{#link-to 'post' id class="posts-list-item draft"}}
          <div class="posts-list-item-title">
            {{title}}
          </div>
        {{/link-to}}
      {{/unless}}
    {{/each}}
  </div>

  <div class="posts-list-item-section">
    <div class="posts-list-item-divider">
      <div class="posts-list-item-divider-label">
        Published
      </div>
    </div>
    {{#each}}
      {{#if published}}
        {{#link-to 'post' id class="posts-list-item"}}
          <div class="posts-list-item-meta">
            <div class="posts-list-item-date">
              {{prettyDate published_at}}
            </div>
          </div>
          <div class="posts-list-item-title">
            {{title}}
          </div>
        {{/link-to}}
      {{/if}}
    {{/each}}
  </div>
</div>

{{outlet}}
