!!! 5
  %head
    %title Placeholder

    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{rel: "stylesheet", href: urlTo("css/main.css")}
  %body

    .page-wrap
      .badge-wrapper
        %a.badge{href: urlTo("/")} S

      .page-buffer
        .preface
          .preface-text
            I'm
            %b
              %a{href: urlTo("/")}= "Steven Schobert"
              &nbsp;
            &mdash; programmer, photographer, husband, father, nerd.
          .preface-links
            .preface-link
              %a{href: urlTo("archive")} Archive
            .preface-link
              %a{href: "https://twitter.com/stevenschobert"} Twitter
            .preface-link
              %a{href: "https://github.com/stevenschobert"} GitHub

      .page-buffer
        - var title = title || null;
        - var date = date || null;
        - var link = link || null;

        - if (title || date) {
          - if (title) {
            .page-title
              %h1
                - if (link) {
                  %a.linked-title{ href: link }= title
                  %span.linked-title-arrow &rarr;
                - } else {
                  = title
                - }

              - if (date) {
                .page-date= printDate(date)
              - }
          - }
        - }

        .page-text
          != contents

    .page-footer
      .page-buffer
        .page-footer-text
          != "&copy; 2012-" + new Date().getFullYear() + " "
          Steven Schobert

    %script{src: "https://use.typekit.net/dmq5sis.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
