- var title = title || null;
- var description = description || null;
- var type = type || null;
- var date = date || null;
- var next = next || null;
- var previous = previous || null;
- var pagination = pagination || null;
- var collections = collections || null;
- var categories = categories || null;
- var useCanonicalLinks = useCanonicalLinks || false;
- var urlOpts = { canonical: useCanonicalLinks };
- var canonicalUrl = urlToSelf({ canonical: true });

!!! 5
  %head
    %title
      - if (title) {
        != title + " &mdash; Steven Schobert"
      - } else {
        = "Steven Schobert"
      - }
    %meta{ charset: "utf-8" }

    - if (title) {
      %meta{ name: "og:title", content: title }
      %meta{ name: "twitter:title", content: title }
    - } else {
      %meta{ name: "og:title", content: "Steven Schobert" }
      %meta{ name: "twitter:title", content: "Steven Schobert" }
    - }

    - if (description) {
      %meta{ name: "og:description", content: description }
      %meta{ name: "twitter:description", content: description }
    - }

    %meta{ name: "og:type", content: "website" }
    %meta{ name: "og:url", content: canonicalUrl }
    %meta{ name: "twitter:site", content: "@stevenschobert" }

    %link{ rel: "me", href: "https://micro.blog/stevenschobert" }

    %link{ rel: "alternate", type: "application/rss+xml", title: "RSS Feed for stevenschobert.com", href: urlTo("rss.xml", urlOpts) }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %link{ rel: "stylesheet", href: urlTo("css/main.css", urlOpts) }
  %body

    .mx-auto.text-center.mt-4.mt-md-5
      %img.rounded-circle.border-light{ src: urlTo("img/avatar.jpg", urlOpts), style: "width: 36px; height: 36px;" }
      %p.h6.mb-0.mt-2 Steven Schobert
      %p.text-weight-light.text-uppercase.text-muted.mt-1.mb-0.small!= "People &#9874; Games"

    .mx-auto.text-center.mt-3.mt-md-4
      %ul.nav.justify-content-center
        %li.nav-item
          %a.nav-link.small{ href: urlTo("/", urlOpts) } Home
        - each page in collections.pages.slice()
          - if (!page.draft && page.show_in_nav === true) {
            %li.nav-item
              %a.nav-link.small{ href: urlTo(page, urlOpts) }= page.title
          - }

    - if (type == "archive") {
      .mx-auto.text-center.mt-3.mt-md-4
        %h4.h4= "Archives: " + archive_title
    - }

    - var files = [];
    - if (pagination) {
      - files = pagination.files;
    - } else if (type == "archive") {
      - files = archive_data;
    - } else {
      - files = [ { title: title, contents: contents, date: date, type: type, categories: categories } ];
    - }

    - each file in files
      - if (file) {
        .container.main.mt-3.mt-md-4
          .mx-auto.bg-white.main-box
            %article.p-4.p-md-5
              - if (file.title) {
                %h1.h2.mb-3= file.title
              - }
              .body-contents!= file.body_contents || file.contents
              - if (file.type == "micro" || file.type == "post") {
                .container.p-0.mt-3.mt-md-4
                  .row
                    .col-md-6
                      %p.text-muted.my-0
                        %small
                          %time{ datetime: file.date.toISOString() }= (file.type == "micro") ? printDateTime(file.date) : printDate(file.date)
                        %small
                          %a{ href: (files.length == 1) ? urlToSelf() : urlTo(file) } &infin;
                    .col-md-6
                      - if (file.type == "post" && file.categories && file.categories.length > 0) {
                        %p.text-muted.text-md-right.my-0
                          %small
                            Posted in
                            - each category, index in file.categories
                              - if (index > 0) {
                                = ", "
                              - }
                              - if (index == file.categories.length - 1) {
                                = " and "
                              - }
                              %a{ href: urlTo(collections[category].page) }= category
                            = "."
                      - }
              - }
      - }

    - if (pagination) {
      .mx-auto.text-center.mt-3.mt-md-4
        %ul.nav.justify-content-center
          - if (pagination.next) {
            %li.nav-item
              %a.nav-link.small{ href: urlTo(pagination.next) } &larr; Older
          - }
          - if (pagination.previous) {
            %li.nav-item
              %a.nav-link.small{ href: urlTo(pagination.previous) } Newer &rarr;
          - }
    - }

    - if (type != "page" && (next || previous)) {
      .mx-auto.text-center.mt-3.mt-md-4
        %ul.nav.justify-content-center
          - if (next) {
            %li.nav-item
              %a.nav-link.small{ href: urlTo(next) } &larr; Previous Post
          - }
          - if (previous) {
            %li.nav-item
              %a.nav-link.small{ href: urlTo(previous) } Next Post &rarr;
          - }
    - }

    %footer.foot.container.mt-3.mt-md-4.pb-2
      %p.text-muted.text-center.p-0
        %small
          Subscribe to posts on
          %a{ href: "https://micro.blog/stevenschobert" } Micro.blog
          = ", "
          %a{ href: "https://twitter.com/stevenschobert" } Twitter
          = ", "
          %a{ href: urlTo("rss.xml", urlOpts) } RSS feed
          = ", or the "
          %a{ href: urlTo("rss-alternate.xml", urlOpts) } alternate RSS feed
          = " which doesn't include the micro-posts."
      %p.text-muted.text-center.p-0
        %small
          All content, unless specified otherwise, is
          %br
          &copy; Steven Schobert 2012-
          = buildDate.getFullYear()
