- var description = description || null;
- var title = title || null;
- var type = type || null;
- var date = date || null;
- var color = color || null;

!!! 5
  %head
    %title
      - if (title) {
        != title + " &mdash; Steven Schobert"
      - } else {
        = "Steven Schobert"
      - }

    %meta{charset: "utf-8"}

    - if (description) {
      %meta{name: "description", content: description}
    - }

    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: "stylesheet", href: urlTo("css/main.css")}
    %link{rel: "stylesheet", href: "//brick.a.ssl.fastly.net/Bitter:400,700,400i,700i"}
  %body

    .header
      .page-wrapper
        %a.header-name{href: urlTo("/")} Steven Schobert
        .header-links
          %a{href: urlTo("posts"), class: (path.dir == "posts") ? "header-link active" : "header-link"} Posts
          %a{href: urlTo("work"), class: (path.dir == "work") ? "header-link active" : "header-link"} Work
          %a.header-link{href: urlTo("about"), class: (path.dir == "about") ? "header-link active" : "header-link"} About

    - if (type === "post") {
      .page-wrapper
        .post
          .post-heading
            %h2.post-title= title
            - if (date) {
              .post-meta
                .post-date= printDate(date)
                - if (color) {
                  .post-color
                    .post-color-block{style: "background-color: "+ color + "; border-color: "+ color}
                    .post-color-label= color
                - }
            - }
          .text-block.post-content!= contents
    - } else {
      != contents
    - }

    .page-wrapper
      .footer
        .footer-text
          %a{href: "https://twitter.com/stevenschobert"} @stevenschobert

    %script{type: "text/javascript", src: urlTo("js/main.js")}

    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50747c5af5a1f55a47000042');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
