---
layout: default.haml
---

- each post in collections.posts.slice(0, 6)
  - var postColor = post.color || "#eeeeee";
    %article.blog-post.text-content
      %h2.entry-title.post-title
        %a{ href: urlTo(post) }= post.title
      .post-meta
        %time.post-date.published{ datetime: post.date.toISOString() }= printDate(post.date)
        %aside.post-meta-separator &bull;
        %aside.post-color{ style: "color: " + postColor }
          .post-color-block{ style: "background-color: " + postColor }
          = postColor
      .entry-content!= post.contents

%p.archive-callout
  = "For older posts, check the "
  %a{ href: urlTo("archive") }
    Archive
  = " page."
