---
layout: default.haml
title: Microblog
description: Short 'n' sweet thoughts and updates. Occasional links and pics of my kiddos.
useSiteFeaturedImage: true
---

- each micro in collections.micro.slice(0, 1)
  %article.micro-post.text-content
    %h2.entry-title Microblog
    .entry-content!= micro.contents
    .micro-meta
      %time.micro-date.published{ datetime: micro.date.toISOString() }
        %a{ href: urlTo(micro) }= printDate(micro.date, "MMM D, YYYY h:mm a")

- each micro in collections.micro.slice(1, 12)
  %article.micro-post.text-content
    .micro-post-seperator
    .entry-content!= micro.contents
    .micro-meta
      %time.micro-date.published{ datetime: micro.date.toISOString() }
        %a{ href: urlTo(micro) }= printDate(micro.date, "MMM D, YYYY h:mm a")

.archive-callout-block
  %p.archive-callout
    = "For more posts, follow "
    %a{ href: "https://micro.blog/stevenschobert" }
      @stevenschobert
    = " on "
    %a{ href: "https://micro.blog" }
      Micro.blog
    = "."
